
/* * selects all elements in the html file.*/
/* the elements below sets the sizing, padding and margins*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* changes the background color of the body section */
body {
    background-color: #d9dcd6;
}

/* sets the padding, font used, background color, and font color for the content with the class "header" */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* ensures the h1 within the content with a class of "header" is can be treated like a block-level element even though it is an inline element, and sets it's font size*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* selects content with a class of header and seo, as well as all h1 elements and sets their font color*/
.header h1 .seo {
    color: #d9dcd6;
}

/* selects all content with a class of header and all div elements and sets their padding, margins, alignment, font style and font size.*/ 
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* selects content with a class of header, as well as all div, ul, and li elements and ensures they are treated like a block-level elements even though they are inline elements, and set their margins*/
.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

/* sets all a element's color and removed all font styles*/
a {
    color: #ffffff;
    text-decoration: none;
}

/* sets all p elements font size*/
p {
    font-size: 16px;
}

/* selects all content with a class of hero and sets their height, width, margins, positioning, size and background image.*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*selects all elements with a class of float-left and ensures they have correct positioning*/
.float-left {
    float: left;
    margin-right: 25px;
}

/*selects all elements with a class of float-right and ensures they have correct positioning*/
.float-right {
    float: right;
    margin-left: 25px;
}

/* selects all elements with a class of content and sets their width and margins, as well as telling the browser to treat it as a block level element*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*selects all elemtns with a class of benefits and sets their margin, padding, float, width, height, font style, and background color, and tells the browser not to let this element float on both sides*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* selects elements with a class of benefit-lead, benefit-brand, or benefit-cost and sets their margin and font color*/
.benefit-lead, .benefit-brand, .benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

/* selects elements with a class of benefit-lead, benefit-brand, or benefit-cost and set their margin and alignment on the page*/
.benefit-lead h3, .benefit-brand h3, .benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* selects elements with a class of benefit-lead, benefit-brand, benefit-cost, or img and sets their display, margin, and maximum width*/
.benefit-lead img, .benefit-brand img, .benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* selects elements with a class of search-engine-optimization, online-reputation-management, or social-media-marketing and sets their margin, padding, height, font, background color, and font color*/
.search-engine-optimization, .online-reputation-management, .social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* selects search-engine-optimization, online-reputation-management, social-media-marketing or img class elements and sets thier maximum height*/
.search-engine-optimization img, .online-reputation-management img, .social-media-marketing img{
    max-height: 200px;
}

/* selects all search-enging-optimization, social-media-marketing, and online-reputation-management h2 class elements and set's their margin and font size*/
.search-engine-optimization h2, .social-media-marketing h2, .online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* selects all footer class elements and sets their padding, font, alignment on the page and tells the browser they aren't allowed to float on both sides.*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* selects all footer class h2 elements and sets their font size*/
.footer h2 {
    font-size: 20px;
}
